APP_URL=http://localhost:3000
APP_NAME=DevOpodatkuvayco
HOST=localhost
PORT=3000
NBU_API_URL=https://bank.gov.ua/NBUStatService/v1/statdirectory/exchange
CLIENT_URL=http://localhost:6000

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=''
DB_NAME=nest-auth

SWAGGER_HTTP_BASIC_AUTH_USERNAME=username
SWAGGER_HTTP_BASIC_AUTH_PASSWORD=password

GOOGLE_AUTH_CLIENT_ID=client_id
GOOGLE_AUTH_CLIENT_SECRET=secret
GOOGLE_AUTH_REDIRECT_URL=http://localhost:3000/auth/google/callback

SMTP_HOST=smtp.mailtrap.io
SMTP_USER=smtp_user
SMTP_EMAIL_PASSWORD=smtp_password

# Tax rates
DEALS_TAX_FEE=0.18
DEALS_MILITARY_FEE=0.05
DIVIDENDS_TAX_FEE=0.095
DIVIDENDS_MILITARY_FEE=0.05